<div class="search-pro">
    <div class="map-search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--<div class="map-toggleButton"> <i class="fa fa-bars"></i> </div>-->
            <div class="map-search-fields">


              <div class="field custom-select-box">
                <input type="text" placeholder="Profession">
              </div>
            </div>
            <div class="search-button">
              <button>Search Members</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>