<!DOCTYPE html>
<html lang="en">
<title>Registration</title>
<meta charset="UTF-8">
{% load staticfiles %}


{##}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->


{##}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->
<script src = "{% static 'eee/js/registraion.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'eee/css/registration.css' %}"   />

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }
    .vertical-offset-100{
    padding-top:100px;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'eee:index' %}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
{#    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>#}
{#    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>#}
{#    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>#}
{#    <div class="w3-dropdown-hover w3-hide-small">#}
{#      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>#}
{##}
{#              <div class="w3-dropdown-content w3-bar-block w3-card-4">#}
{#        <a href="#" class="w3-bar-item w3-button">Merchandise</a>#}
{#        <a href="#" class="w3-bar-item w3-button">Extras</a>#}
{#        <a href="#" class="w3-bar-item w3-button">Media</a>#}
{#      </div>#}
{#    </div>#}
      <div>
          <style>
              .hh{
                  float: right;
              }
          </style>
                  <a href="{% url 'eee:registration' %}" class="w3-right w3-button">Register</a>
                  <a href="{% url 'eee:login' %}" class="w3-right w3-button">Login</a>

{#          <button class="hh">Login</button>#}
{#          <a href="#" class="haha"></a>#}
      </div>
{#    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>#}
  </div>
</div>



<div class="container">
            <form class="form-horizontal" role="form" action="{% url 'eee:registration' %}" method="POST">
                {% csrf_token %}
                <div>
                    <br>
                    <br>

                </div>
                <h2>Registration</h2>
                <div class="form-group">
                    <label for="firstname" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text"  name="firstname" id="firstname" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text"  name="lastName" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
               <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" name="username" id="username" placeholder="Username" class="form-control" autofocus>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" name="email" id="email" placeholder="Email" class="form-control" name= "email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password*</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    <label for="password" class="col-sm-3 control-label">Confirm Password*</label>#}
{#                    <div class="col-sm-9">#}
{#                        <input type="password" id="password" placeholder="Password" class="form-control">#}
{#                    </div>#}
{#                </div>#}
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>
                    <div class="col-sm-9">
                        <input type="date" name="birthDate" id="birthDate" class="form-control">
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>#}
{#                    <div class="col-sm-9">#}
{#                        <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">#}
{#                        <span class="help-block">Your phone number won't be disclosed anywhere </span>#}
{#                    </div>#}
{#                </div>#}
                <div class="form-group">
                    <label for="hometown" class="col-sm-3 control-label">Home Town</label>
                    <div class="col-sm-9">
                        <input type="text" name="hometown" id="hometown" name="hometown" placeholder="Home Town" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="about_me" class="col-sm-3 control-label">About Me</label>
                    <div class="col-sm-9">
                        <textarea type="text" name="about_me" id="about_me" name="about_me" placeholder="About Me"
                                  class="form-control" autofocus></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="skill_name" class="col-sm-3 control-label">Your Skills</label>
                    <div class="col-sm-9">
                        <textarea type="text" name="skill_name" id="skill_name"  placeholder="Django"
                                  class="form-control" autofocus></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="currentcity" class="col-sm-3 control-label">Current City</label>
                    <div class="col-sm-9">
                        <input type="text" id="currentcity" name="currentcity" placeholder="Current City" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Regno" class="col-sm-3 control-label">Registration No</label>
                    <div class="col-sm-9">
                        <input type="text" id="Regno" name="Regno" placeholder="Registration No" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Session" class="col-sm-3 control-label">Session</label>
                    <div class="col-sm-9">
                        <input type="text" id="Session" name="Session" placeholder="Session" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Semester" class="col-sm-3 control-label">Current Semester</label>
                    <div class="col-sm-9">
                        <input type="text" id="Semester" name="Semester" placeholder="Semester" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact" class="col-sm-3 control-label">Contact No</label>
                    <div class="col-sm-9">
                        <input type="text" id="contact" name="contact" placeholder="Contact" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="LinkedIn" class="col-sm-3 control-label">LinkedIn</label>
                    <div class="col-sm-9">
                        <input type="text" id="LinkedIn" name="LinkedIn" placeholder="LinkedIn" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Github" class="col-sm-3 control-label">Github</label>
                    <div class="col-sm-9">
                        <input type="text" id="Github" name="Github" placeholder="Github" class="form-control" autofocus>
                    </div>
                </div>

                <div class="form-group">
                    <label for="bloodgroup" class="col-sm-3 control-label">Blood Group </label>
{#                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">#}
{#                        Dropdown button#}
{#                    </button>#}
                    <div class="select2-dropdown--below">
                        <style>
                            .hmm2{
                                width: 150px;
                                right: 642px;
                                position: absolute;


                            }
                        </style>
                        <select class="hmm2" name="bloodgroup">
                            <option value=""></option>
                            <option value="A+">A+</option>
                            <option value="O+">O+</option>
                            <option value="B+">B+</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="B-">B-</option>
                            <option value="O-">O-</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label for="Gender" class="col-sm-3 control-label">Gender </label>
{#                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">#}
{#                        Dropdown button#}
{#                    </button>#}
                    <div class="select2-dropdown--below">
                        <style>
                            .hmm3{
                                width: 150px;
                                right: 642px;
                                position: absolute;


                            }
                        </style>
                        <select class="hmm3" name="Gender">
                            <option value=""></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>

                        </select>

                    </div>
                </div>




                <div class="form-group">
                    <label for="department" class="col-sm-3 control-label">Department </label>
{#                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">#}
{#                        Dropdown button#}
{#                    </button>#}
                    <div class="select2-dropdown--below">
                        <style>
                            .hmm{
                                width: 350px;
                                right: 442px;
                                position: absolute;


                            }
                        </style>
                        <select class="hmm" name="department">

                            <option value=""></option>

                            <option value="Department of Forestry And Environmental Science (FES) "> Department of Forestry And
                                Environmental Science (FES)
                            </option>


                            <option value="Department of Architecture (ARC)"> Department of Architecture (ARC)</option>

                            <option value="Department of Chemical Engineering &amp; Polymer Science (CEP)"> Department
                                of Chemical Engineering &amp; Polymer Science (CEP)
                            </option>
                            <option value="Department of Civil &amp; Environmental Engineering (CEE)"> Department of
                                Civil &amp; Environmental Engineering (CEE)
                            </option>
                            <option value="Department of Computer Science &amp; Engineering (CSE)"> Department of
                                Computer Science &amp; Engineering (CSE)
                            </option>
                            <option value="Department of Electrical &amp; Electronic Engineering (EEE)"> Department of
                                Electrical &amp; Electronic Engineering (EEE)
                            </option>
                            <option value="Department of Food Engineering &amp; Tea Technology (FET)"> Department of
                                Food Engineering &amp; Tea Technology (FET)
                            </option>
                            <option value="Department of Industrial &amp; Production Engineering (IPE)"> Department of
                                Industrial &amp; Production Engineering (IPE)
                            </option>
                            <option value="Department of Mechanical Engineering (MEE)"> Department of Mechanical
                                Engineering (MEE)
                            </option>
                            <option value="Department of Petroleum &amp; Mining Engineering (PME)"> Department of
                                Petroleum &amp; Mining Engineering (PME)
                            </option>
                            <option value="Department of Software Engineering (SWE)"> Department of Software Engineering
                                (SWE)
                            </option>
                            <option value="Department of Bio-Chemistry and Molecular Biology (BMB)"> Department of
                                Bio-Chemistry and Molecular Biology (BMB)
                            </option>
                            <option value="Department of Genetic Engineering and Biotechnology (GEB)"> Department of
                                Genetic Engineering and Biotechnology (GEB)
                            </option>
                            <option value="Department of Business Administration, SUST"> Department of Business
                                Administration, SUST
                            </option>
                            <option value="Department of Chemistry (CHE)"> Department of Chemistry (CHE)</option>
                            <option value="Department of Geography and Environment (GEE)"> Department of Geography and
                                Environment (GEE)
                            </option>
                            <option value="Department of Mathematics (MAT)"> Department of Mathematics (MAT)</option>
                            <option value="Department of Physics (PHY)"> Department of Physics (PHY)</option>
                            <option value="Department of Statistics (STA)"> Department of Statistics (STA)</option>
                            <option value="Department of Oceanography (OCG)"> Department of Oceanography (OCG)</option>
                            <option value="Department of Anthropology (ANP)"> Department of Anthropology (ANP)</option>
                            <option value="Department of Bangla (BNG)"> Department of Bangla (BNG)</option>
                            <option value="Department of Economics (ECO)"> Department of Economics (ECO)</option>
                            <option value="Department of English (ENG)"> Department of English (ENG)</option>
                            <option value="Department of Political Studies (PSS)"> Department of Political Studies
                                (PSS)
                            </option>
                            <option value="Department of Public Administration (PAD)"> Department of Public
                                Administration (PAD)
                            </option>
                            <option value="Department of Social work (SCW)"> Department of Social work (SCW)</option>
                            <option value="Department of Sociology (SOC)"> Department of Sociology (SOC)</option>
                            <option value="Faculty or Staff"> Faculty or Staff</option>

                        </select>

                    </div>
                </div>



                <div class="form-group">
                        <label for="Height" class="col-sm-3 control-label">Height </label>
                    <div class="col-sm-9">
                        <input type="number" name="height" id="height" placeholder="Please write your height in centimetres" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                        <label for="weight" class="col-sm-3 control-label">Weight </label>
                    <div class="col-sm-9">
                        <input type="number" name="weight" id="weight" placeholder="Please write your weight in kilograms" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="LinkedIn" class="col-sm-3 control-label">User Photos</label>
                    <div class="col-sm-9">
                        <input type="file" id="Photos" name="Photos" placeholder="Photos" class="form-control" autofocus>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->




</body>
</html>
